.fa {
  font-size: 40px;
  cursor: pointer;
  user-select: none;
	color: green;
	border: none;
}

body{
	background-color: darkgray;
}

.fa:hover {
  color: darkblue;
}

#align{
	padding-left: 400px;
}
